
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Email Verification
   


    body 
        section(style=" margin-top:60px;") 
            h2(style="text-align:center;") Thanks for registering on Login Manager.
            div(style="padding:20px; margin-bottom:30px; text-align:center; ") Verify your email to continue using our service.
            div.link-container(style="text-align:center;")
                a.link(href=verification_link, target="_blank") Click to Verify

