body {
	color: #fff;
	background: #19aa8d;
	/* background: #19aa8da6; */
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 0px auto 20px auto;
	/* padding: 80px 0;		 */
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 10px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #179b81 !important;
}
.signup-form a {
	color: #fff;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #19aa8d;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

.warning{
	text-align: right;
	color: rgb(255, 17, 0);
	font-size: .8rem;
	padding-top: 5px;
}

.switchBtn{

	/* color: #19aa8d; */
	text-decoration: none;
	outline: none;
	background: transparent;
	border: none;
	padding: 0 ;
	margin:0 3px;
	


}

.switchBtn:hover, .switchBtn:focus{
	color: #fff;	
	border-bottom: 2px white solid;
	outline: none;
}

.status-container{
	margin-top: 30px;
	/* min-height: 8vh; */
	
}


/* NAVBAR */

.navbar{
	position: absolute;
	top:0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding:5px 70px;
	/* background: transparent !important ; */
}
.nav-item{
	/* margin:0 10px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}


.navbar-brand{
	font-size: 2.2rem !important;
	color: white !important;
}
.navbar{
	background-image: linear-gradient(to bottom,#19aa76,#19aa8d);
}
.navbar-nav{
	flex-direction: row;
}

.signup-btn{
	border-radius: 5px;
	display: flex;
	min-width: 115px;
	justify-content: space-between;
	align-items: center;
}

.login-btn{
	border-radius: 5px;
	display: flex;
	min-width: 100px;
	justify-content: space-between;
	align-items: center;
}

.dropdown-menu{
	position: absolute !important;
}


.dropdown-toggle::after{
	display: none !important;
}
.dropdown-toggle{
	color: rgb(255, 255, 255) !important;
	/* margin: 10px; */
	font-weight: normal;
	border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
	text-align: center;
    vertical-align: middle;
	border-radius: 5px;
    display: flex;
    min-width: 120px;
    justify-content: space-between;
    align-items: center;

}


/* Main Section */
.main-section{
	height: 100vh;
	padding: 10vh 20vh;
}
.header{
	display: flex;
	justify-content: center;
	margin-top:25vh;
}

.desc-cont{
	display: flex;
	width: 80%;
	margin:auto;
	justify-content: center;
	margin-top:30px;
}

.desc-cont p, .header h1{
	text-align: center;
}

.get-started{
	display: flex;
	width: 80%;
	margin:auto;
	justify-content: center;
	margin-top:30px;
}

.get-started button{
	border-radius: 5px;
	display: flex;
	min-width: 100px;
	justify-content: space-between;
	align-items: center;
}

a{
	text-decoration: none !important;
}


/* Verify */

.verify-cont{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* Account */

.account{
	margin-top:120px;


}

.account-header{
	
	display: flex;
	justify-content: center;
	padding-bottom:20px
}

.account-header h2{
	border-bottom: 3px solid white;
	border-radius: 3px;
	padding: 0 7px
}

.btn{
	margin:10px
}

.btn-container{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	min-width: 180px;
	width: 30%;
}

.display{
	background: rgb(226, 219, 219);
	color:rgb(61, 57, 57);
	/* min-width: 1000px; */
	width: 55%;
    border-radius: 5px;
	padding:20px;
	display: flex;
	justify-content: space-between;
	min-height: 55vh;
	margin:10px auto;

}
.display-area{
	/* min-width: 475px; */
	width: 70%;
	
}

.account-container{
	/* position:absolute !important;
	height: 49% !important;
	width: 37% !important; */
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.password-form{
	padding:30px 0;
	/* position:absolute !important;
	width: 37% !important; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.password-form input, .password-form input:active{
	width: 100%;
	padding: 5px 15px;
    outline: none;
    border-radius: 4px;
	border-color: rgba(75, 72, 72, 0.466);
}

.input-container{
    margin-bottom: 20px;
	
}

.delete-container{
	padding:30px 0;
	/* position:absolute !important;
	width: 37% !important; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.account-details{
	/* width: 90%; */
	display: flex;
	align-items: flex-start;
	flex-direction: column;
    height: 100%;
    padding: 30px;
}

@media(max-width:970px){

	.display{
		background: rgb(226, 219, 219);
		color:rgb(61, 57, 57);
		/* min-width: 1000px; */
		width: 90%;
		border-radius: 5px;
		padding:20px;
		display: flex;
		justify-content: space-between;
		min-height: 55vh;
		margin:10px auto;
	
	}

}

@media(max-width:630px){
	.display{
		background: rgb(226, 219, 219);
		color:rgb(61, 57, 57);
		/* min-width: 1000px; */
		width: 90%;
		border-radius: 5px;
		padding:20px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: unset;
		min-height: 55vh;
		margin:10px auto;
	
	}

	.btn-container{
		flex-direction: row;
		width: 100%;
		margin-bottom:20px ;
		justify-content: space-evenly;
	}

}

@media(max-width:590px){
	.navbar-brand{
		font-size: 1.8rem !important;
	}
	.navbar{
		padding: 5px 30px 5px 50px;
	}

	.btn-container{
		flex-wrap: wrap;
	}

	.dropdown-toggle{
		font-size: 1rem !important;
		justify-content: unset;
	}
	.dropdown-toggle span{
		font-size: 1.5rem !important;
	}

	.account-header h2{
		font-size: 1.4rem !important;
	}
	.dropdown-menu{
		min-width: 8rem !important;
	}

}

@media(max-width:430px){
	.navbar{
		flex-direction: column;
	}
	.account{
	margin-top:170px;

	}
	.account-details{
		padding: 30px 0;

	}
	.display-area{
		width: 100%;
	}
	.input-container{
		margin-bottom: 20px;
		/* width: 80%; */
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.password-form input{
		width: 90%;
	}
}
